@use "sass:math";

.effects {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -1
}

.effect-neon {
	position: relative;
	border-radius: 10em;
	opacity: 0.3;
	width: 100%;
	filter: blur(120px);
	height: 100%;
}

.effect {
	position: absolute;
	animation: 4s cubic-bezier(1, 0, 0, .5) infinite alternate-reverse neon-effect;
}

.effect-1 {
	top: 5%;
	left: 10%;
	width: 300px;
	height: 300px;

	.effect-neon {
		background-image: linear-gradient(94.36deg, #720ADB 10.25%, #FF4B2B 100.3%);
	}
}

.effect-2 {
	bottom: 10%;
	left: 15%;
	width: 300px;
	height: 300px;

	.effect-neon {
		background-color: #720ADB;
	}
}

.effect-3 {
	top: 10%;
	left: 50%;
	width: 150px;
	height: 150px;

	.effect-neon {
		background-color: #FA4933;
	}
}

.effect-4 {
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	.effect-neon {
		background-color: #720ADB;
	}
}

.effect-5 {
	bottom: 40px;
	left: 55%;
	width: 300px;
	height: 300px;

	.effect-neon {
		background-color: #720ADB;
	}
}

.effect-6 {
	right: 10%;
	top: 20%;
	width: 300px;
	height: 300px;

	.effect-neon {
		background-color: #FA4933;
	}
}

.effect-7 {
	right: 200px;
	bottom: 50px;
	width: 150px;
	height: 150px;

	.effect-neon {
		background-image: linear-gradient(94.36deg, #720ADB 10.25%, #FF4B2B 100.3%);
	}
}

@for $i from 1 through 7 {
	.effect-#{$i} {
		animation-delay: $i * (5s / 18);
	}
}

// Animation
@keyframes neon-effect {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
