.price {
  padding: 120px 0;
}

.btn1 {
  height: 60px;
  color: white;
  background-color: #0577F2;
  border-radius: 10px;
  padding: 12px 40px;
  font-size: 18px;
}

.btn2 {
  height: 60px;
  margin-left: 52px;
  color: #FF4B2B;
  border: 2px solid #FF4B2B;
  border-radius: 10px;
  background: transparent;
  padding: 12px 40px;
  font-size: 18px;
}