.contacts {
  margin-top: 90px;
}


.email {
  margin-bottom: 100px;

  a {
    margin-left: 15px;
    display: flex;
    color: mediumorchid;

    &:hover {
      color: #720ADB;
      transition: 0.3s;
    }
  }
}