.advantages {
  padding: 100px 0;
  background: rgba(10, 10, 10, 0.6);
  backdrop-filter: blur(80px);
}

.advantages_wrapper {

}


.items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.advantages_item {
  padding-top: 30px;
  width: 300px;
  .icon {
    img {
      height: 80px;
    }
  }

  h4 {
    font-weight: 900;
    color: #fff;
    margin-top: 20px;
    display: block;
  }

  .description {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1100px){
  .advantages_wrapper {
    display: flex;
    justify-content: center;
  }
  .items {
    width: auto;
    display: block;
  }
}




