.contracts {
  margin-top: 40px;
  margin-bottom: 40px;
}

.contracts_block {
  border: 2px solid #4F4F4F;
  border-radius: 20px;
  overflow: hidden;
}

.title {
  background: #2E2E2E66;
  padding: 20px 40px;
}


.table {
  width: 100%;
  overflow: hidden;

  tr {
    padding-left: 20px;
    border-bottom: 2px solid #4F4F4F;

    th {
      font-size: 24px;
      color: #fff;
      padding-left:  40px;
      background: #0577F2;
    }

    td {
      padding-left: 40px;

      button {
        border-radius: 10px;
        color: white;
        width: 150px;
      }
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.amount {
  display: flex;
  align-items: center;

  img {
    width: 65px;
    margin-right: 20px;
  }
}




