@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.register {
  margin-top: 100px;
}

.title {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 40px;
}

.description {
  margin-top: 2px;
  margin-bottom: 15px;
  color: white;
  font-size: 25px;
}

.form {
  width: 420px;
  margin-top: 20px;

  input {
    padding-left: 20px;
    color: white;
    width: 100%;
    height: 50px;
    background: none;
    border: white 2px solid;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 20px;

    &::placeholder {
      color: darkgray;
    }
  }

  button {
    font-size: 20px;
    width: 150px;
    height: 45px;
    border-radius: 10px;
  }

  span {
    color: white;
    font-size: 20px;
  }
}

.badge {
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 10px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #FF4B2B;

  &.badge-success {

  }

  &.badge-error {
    background: #FF4B2B;
  }
}

.link {
  width: auto;
  color: white;

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.log_link {
  font-size: 24px;
}

.img {
  width: 450px;
}
