.title {
  display: flex;
  align-items: center;
}

.header {
  height: 680px;
  width: 50%;
}

.header_block {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .header_text {
    user-select: none;
    font-size: 25px;
    color: white;
  }

  h1 {
    color: white;
    font-size: 82px;
  }
}

.items_block {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .items {
    width: 90%;
    display: flex;
    justify-content: space-between;

    .item {
      width: 250px;
      margin-bottom: 30px;
      margin-top: 30px;

      .icon {
        width: 44px;
        height: 44px;
        margin-bottom: 18px;

        img {
          width: 100%;
          height: auto;
        }
      }

      .description {
        color: #BABABA;
        line-height: 1.2;
      }
    }

    .child {
      &:last-child {
        margin-top: 100px;
      }
    }
  }
}


.form {
  display: flex;

  input {
    display: block;
    width: 400px;
    height: 50px;
    margin-right: 20px;
  }

  button {
    display: block;
  }
}

a{
  text-decoration: none;
}


.register {
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  text-transform: uppercase;
}

.header_sub {
  margin-top: 17px;

  a {
    color: white;
  }
}

.badge {
  padding: 3px 12px;
  border-radius: 10px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #FF4B2B;


  &.badge-error {
    background: #FF4B2B;
  }
}


@media screen and (max-width: 1200px){
  .title {
    display: block;

    .header {
      width: 100%;
    }

    .items_block {
      display: flex;
      justify-content: center;
    }
  }
  .form {
    display: block;

    button {
      margin-top: 20px;
    }
  }
}

@media screen and (max-width: 1000px){

}
