.title {
  display: flex;
  align-items: center;
}

.header {
  height: 680px;
  width: 100%;
}

.header_block {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  .header_items {
    width: 100%;

    .header_text {
      user-select: none;
      font-size: 25px;
      color: white;
    }

    .form {
      display: flex;
      width: 100%;

      input {
        width: 70%;
        background: none;
        border: 4px solid #FFFFFF;
        border-radius: 10px;
        height: 60px;
        padding-left: 20px;
        font-size: 20px;
        color: white;

        &::placeholder {
          color: #BABABA;
        }
      }

      a {
        width: 30%;
        height: 60px;
        font-size: 20px;
        margin-left: 30px;

        button {
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
      }
    }

    h1 {
      width: auto;
      color: white;
      font-size: 82px;
    }

    span {
      margin-top: 30px;
      font-size: 24px;
      color: white;
    }

    .badge {
      margin-left: 5px;
      margin-right: 5px;
      padding: 3px 12px;
      border-radius: 10px;
      text-align: center;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: #FF4B2B;


      &.badge-error {
        background: #FF4B2B;
      }
    }
  }
}

.items_block {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .items {
    width: 90%;
    display: flex;
    justify-content: space-between;

    .item {
      width: 250px;
      margin-bottom: 30px;
      margin-top: 30px;

      .icon {
        width: 44px;
        height: 44px;
        margin-bottom: 18px;

        img {
          width: 100%;
          height: auto;
        }
      }

      .description {
        color: #BABABA;
        line-height: 1.2;
      }
    }

    .child {
      &:last-child {
        margin-top: 100px;
      }
    }
  }
}


@media screen and (max-width: 1200px){
  .title {
    display: block;

    .header {
      width: 100%;

      @media screen and (max-width: 540px){

        .form {
          display: block;

          input {
            margin-top: 20px;
            width: 100%;
          }

          a {
            margin-left: 0;

            button {
              margin-top: 40px;
              height: 60px;
            }
          }
        }
      }
    }

    .items_block {
      display: flex;
      justify-content: center;

      @media screen and (max-width: 540px){
        .items  {
          display: block;
          margin-left: 50%;
          margin-right: 50%;

          .child {
            margin-top: 0;
          }
        }
      }
    }
  }
  .form {
    display: block;

    button {
      margin-top: 20px;
    }
  }
}
