.header {
  display: flex;
  min-height: 120px;
}

.title {
  align-content: center;
  color: white;

  span {
    display: block;
    font-size: 22px;
  }
}

.account {
  display: flex;
  justify-content: center;
  align-items: center;


  button {
    width: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 992px) {
  .account {
    button{
      display: none;
    }
  }
}