.powers {
  align-content: center;
  height: 500px;
}

.power {
  border-radius: 20px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,76,255,1) 0%, rgba(61,36,200,1) 0%, rgba(105,8,161,1) 88%);
}


.head {
  padding: 15px 20px;
  color: white;
  font-size: 24px;
  font-weight: bold;

  .logo {
    display: flex;
    align-items: center;
    span {
      margin-left: 10px;
    }

    img {
      width: 55px;
    }
  }

  span {
    display: block;
  }

  .badge {
    padding: 7px 15px;
    border-radius: 10px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #F0B90B;
  }
}

.average {
  background: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
}

.earned {
  padding: 15px 20px;
  span {
    color: white;
    font-size: 24px;
    display: block;
  }
}