.powers {
  align-content: center;
  margin-top: 20px;
}

.power {
  margin-top: 65px;
  border-radius: 20px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,76,255,1) 0%, rgba(61,36,200,1) 0%, rgba(105,8,161,1) 88%);

  .range {
    background: #2E2E2E66;
    padding: 20px 15px;
    width: 100%;


    input {
      -webkit-appearance: none;
      accent-color: white;
      border-radius: 20px;
      width: 100%;
      height: 30px;
    }


    span {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}


.head {
  padding: 15px 20px;
  color: white;
  font-size: 24px;
  font-weight: bold;

  .logo {
    display: flex;
    align-items: center;
    span {
      margin-left: 10px;
    }

    img {
      width: 55px;
    }
  }

  span {
    display: block;
  }

  .badge {
    padding: 7px 15px;
    border-radius: 10px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #F0B90B;
  }
}

.earned {
  padding: 15px 20px;
  span {
    color: white;
    font-size: 24px;
    display: block;
  }
}

.deposit {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    height: 55px;
    width: 200px;
    border-radius: 10px;
    font-size: 24px;
    color: white;
    background: linear-gradient(111.42deg, #FF4B2B 9.98%, #E4C107 102.99%),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
  }
}

.withdrow {
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    height: 55px;
    width: 200px;
    border-radius: 10px;
    font-size: 24px;
    color: white;
    background: inherit;
    border: 2px solid #FFFFFF;
    transition: .2s ease-out;

    &:hover {
      border: 2px solid silver;
      color: silver;
    }
  }
}
