.top-line {
	height: 100px;
	display: flex;
	align-items: center;
	background-color: rgba(33, 33, 33, 0.7);

	&__brand {
		padding: 12px 10px;
		background-color: #720adb;
		border-radius: 10px;
		font-weight: 900;
		font-size: 22px;
		color: #ffffff;
		font-style: normal;
		letter-spacing: normal;
		line-height: normal;
		text-transform: uppercase;
		display: inline-block;
		transition: .4s ease-out;

		&:hover {
			text-decoration: none;
			letter-spacing: 1px;
			color: #fff;
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.nav-link {
			color: #ffffff;
			margin-bottom: 0;
			font-weight: 500;
			text-transform: uppercase;
			display: block;
			padding: 8px 12px;
			transition: .4s ease-out;
			border-radius: 10px;
			&:hover {
				background-color: #720adb;
				text-decoration: none;
			}
		}
	}

	&__account {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.btn {
			&:nth-child(1) {
				margin-right: 15px;
			}
		}
	}

}

.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
}

.main-footer {
	background-color: #0a0a0a;
	padding: 30px 0;
	text-align: center;
	.footer-text {
		color: #fff;
		font-weight: bold;
		line-height: 1.3;
		font-size: 16px;
		text-transform: uppercase;
		span {
			display: block;
		}
	}
}
