@import './variables';

::placeholder {
	color: #666
}

::selection {
	background-color: $purple;
	color: #fff;
}

input, textarea {
	outline: none
}

html, body {
	height: 100%;
	overflow-x: hidden;
	min-width: 320px;
}

body {
	font-family: $fontFamily;
	font-size: $fontSize;
	position: relative;
	line-height: $lineHeight;
	color: $textColor;
	background-size: cover;
	background-image:url("../../../src/assets/img/Background.png"), linear-gradient(180deg, #0A0E14 0%, #060B2D 100%);
}

h1, h2, h3, h4, h5, h6 {
	display: block;
	line-height: 1.2;
}

b, strong {
	font-weight: bold;
}

header, section {
	position: relative;
}

.main {
	min-height: 620px;
}


h1 {
	font-size: 96px;
	font-weight: 900;
}

h2 {
	font-size: 48px;
	font-weight: 900;
}

h3 {
	font-size: 32px;
	font-weight: 500;
}

h4 {
	font-size: 24px;
	font-weight: 500;
}

h5 {
	font-size: 18px;
	font-weight: 500;
}

h6 {
	font-size: 16px;
	font-weight: 500;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

button {
	outline: none;
	cursor: pointer;
	border: none;

	&:disabled {
		cursor: not-allowed;
	}
}
