/* Google Fonts 'Roboto' */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

// Boostrap
@import '~bootstrap/scss/bootstrap-reboot.scss';

// Bootstrap Breakpoints mixin
@import '~bootstrap/scss/mixins/_breakpoints.scss';

// Optional Bootstrap Grid
@import '~bootstrap/scss/bootstrap-grid.scss';

// Optional Bootstrap Utilities
@import '~bootstrap/scss/utilities/_sizing.scss';
