.video_main {
  padding: 80px 0 120px;

  h2 {
    font-size: 42px;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    color: #fff;
  }

  p {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    position: relative;
  }
}

.video {
  width: 1150px;
  height: 650px;
  margin-top: 60px;
  border-radius: 20px;
  overflow: hidden;

  iframe {
    width: 100% !important;
    height: 100% !important;
    border: none;
  }
}
