.navbar {
  background-color: #212121B2;
  min-height: 100%;

  a {
    display: flex;
    align-items: center;
  }

  p {
    padding-left: 40px;
    font-weight: bold;
    font-size: 32px;
    color: white;
  }

  span {
    margin-left: 20px;
  }

  img {
    padding-bottom: 8px;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-top: 40px;
  padding-right: 40px;

  button {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    text-transform: uppercase;
  }
}

.item {
  padding-left: 40px;
  height: 70px;
  font-size: 24px;
  display: block;
  text-decoration: none;
  color: white;

  &:hover {
    color: white;
    border-left: #720ADB solid 5px;
    background-color: #0a0a0a;
  }
}

.active {
  padding-left: 40px;
  height: 70px;
  font-size: 24px;
  display: block;
  text-decoration: none;
  border-left: #720ADB solid 5px;
  background-color: #0a0a0a;
  color: white;

  img {
    filter: invert(85%) sepia(100%) saturate(7471%) hue-rotate(273deg) brightness(100%) contrast(107%);
  }

  &:hover {
    color: white;
  }
}
