.status {
  position: static;
  padding-top: 60px;

  .items {
    margin-left: auto;
    margin-right: auto;

    strong {
      display: flex;
      justify-content: center;
      font-size: 80px;
      font-weight: 900;
      background: linear-gradient(111.42deg, #720ADB 9.98%, #FF4B2B 102.99%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    p {
      display: flex;
      justify-content: center;
      font-weight: 500;
      color: #fff;
      font-size: 40px;
      text-transform: uppercase;
    }
  }
}

.partners_items {
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  align-items: center;

  img {
    padding-top: 20px;
    width: 300px
  }
}

@media screen and (max-width: 1000px) {
  .status {
    padding-bottom: 10px;

    .partners_items {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      img {
        width: 200px;
      }
      @media screen and (max-width: 765px){
        img {
          width: 150px;
        }
        @media screen and (max-width: 540px){
          img {
            width: 100px;
          }
        }
      }
    }
  }
}




