.withdrow_modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}

.active {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  position: fixed;
}

.modal_content {
  padding: 30px 40px;
  border-radius: 20px;
  background: linear-gradient(0deg, #2E2E2E, #2E2E2E), linear-gradient(0deg, #4F4F4F, #4F4F4F);
  transform: scale(0.5);
}

.modal_content_active {
  padding: 30px 40px;
  border-radius: 20px;
  background: linear-gradient(0deg, #2E2E2E, #2E2E2E), linear-gradient(0deg, #4F4F4F, #4F4F4F);
  height: 650px;
  width: 650px;
  transform: scale(1);
  transition: 0.5s;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 30px;
  }

  img {
    cursor: pointer;
  }
}

.description {
  margin-top: 5px;

  .span {
    font-weight: bold;
    display: block;
    color: white;
    padding-top: 15px;
    font-size: 18px;
    text-transform: uppercase;
  }
}

.forms {
  margin-top: 20px;

  span {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
  }

  .form {
    margin-top: 5px;
    display: flex;
    width: 100%;

    .input {
      width: 70%;
      height: 55px;
      background: linear-gradient(0deg, #222222, #222222), linear-gradient(0deg, #FFFFFF, #FFFFFF);
      border: 4px solid #FFFFFF;
      border-radius: 10px;
      padding-left: 20px;
      font-size: 20px;
      color: white;
    }

    .button {
      width: 30%;
      height: 55px;
      font-size: 20px;
      border-radius: 10px;
      margin-left: 20px;
    }
  }
}

.withdrow {
  button {
    text-transform: uppercase;
    width: 30%;
    height: 55px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
}

  .info {
    margin-top: 30px;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
  }

  @media screen and (max-width: 1200px) {
    .head {
      .title {
        font-size: 25px;
      }

      img {
        width: 25px;
      }
    }
    .description {
      margin-top: 0;
    }
    .forms {
      .form {
        .input {
          height: 50px;
          border: 3px solid white;
        }

        .button {
          height: 50px;
        }
      }
    }
    .modal_content {
      width: 600px;
      height: 600px;
    }
    .modal_content_active {
      width: 650px;
      height: 570px;
    }

    .withdrow {
      margin-top: 10px;
      button {
        text-transform: uppercase;
        width: 100%;
        height: 55px;
        font-size: 20px;
        border-radius: 10px;
        margin-top: 20px;
      }
    }

    .info {
      margin-top: 20px;
      font-size: 16px;
    }
  }

  @media screen and (max-width: 800px) {
    .head {
      .title {
        font-size: 20px;
      }

      img {
        width: 20px;
      }
    }
    .description {
      margin-top: 0;

      .span {
        font-size: 16px;
      }
    }
    .forms {
      margin-top: 10px;

      span {
        font-size: 16px;
      }

      .form {
        display: block;

        .input {
          width: 100%;
          height: 40px;
          border: 2px solid white;
        }

        .button {
          margin-top: 10px;
          width: 30%;
          margin-left: 0;
          height: 40px;
        }
      }
    }
    .modal_content {
      width: 500px;
      height: 500px;
    }
    .modal_content_active {
      width: 550px;
      height: 590px;
    }

    .withdrow {
      button {
        text-transform: uppercase;
        width: 100%;
        height: 40px;
        font-size: 20px;
        border-radius: 10px;
        margin-top: 20px;
      }
    }

    .info {
      margin-top: 15px;
      font-size: 13px;
    }
  }

  @media screen and (max-width: 560px) {
    .head {
      .title {
        font-size: 15px;
      }

      img {
        width: 15px;
      }
    }
    .description {
      margin-top: 0;

      .span {
        padding-top: 5px;
        font-size: 12px;
      }
    }
    .forms {
      margin-top: 8px;

      .form {
        .input {
          font-size: 15px;
          height: 40px;
          border: 2px solid white;
        }

        .button {
          font-size: 15px;
          height: 40px;
        }
      }
    }
    .modal_content {
      width: 430px;
      height: 500px;
      padding: 20px 30px;
    }
    .modal_content_active {
      width: 430px;
      height: 500px;
      padding: 20px 30px;
    }

    .withdrow {
      button {
        text-transform: uppercase;
        width: 100%;
        height: 40px;
        font-size: 20px;
        border-radius: 10px;
        margin-top: 10px;
      }
    }
    .info {
      margin-top: 10px;
      font-size: 11px;
    }
  }