.section {
	padding: 120px 0
}

.dark-section {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(#0A0A0A, 0.6);
		filter: blur(80px);
	}
}

.main-header {
	height: 100vh;
	min-height: 900px;
	display: flex;
	color: #fff;
	justify-content: center;

	h1 {
		font-size: 82px;
		line-height: 1.1;
		margin-bottom: 0;
	}

	.header-text {
		font-size: 26px;
		font-weight: 500;
	}

	.input {
		flex: 0 0 68%;
		margin-top: 3px;
		width: 100%;
		margin-right: 20px;
	}

	.btn {
		height: 50px;
		padding-top: 0;
		font-size: 20px;
		padding-bottom: 0;
		max-width: 191px;
		width: 100%;
	}


	.header-sub {
		color: #BABABA;
		font-size: 15px;
		margin-top: 10px;

		a {
			color: #fff;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}
	}
}

.header-title {
	.header-title {
		font-weight: 500;
		font-size: 32px;
	}
}

.header-right {

	&__item {
		.icon {
			width: 44px;
			height: 44px;
			margin-bottom: 18px;

			img {
				width: 100%;
				height: auto;
			}
		}

		.title {
			font-weight: 900;
			margin-bottom: 10px;
			display: block;
		}

		.description {
			color: #BABABA;
			line-height: 1.2;
		}

	}

}

.badge {
	padding: 3px 12px;
	border-radius: 10px;
	text-align: center;
	display: inline-flex;
	align-items: center;
	justify-content: center;

	&.badge-success {
		background: #0FBD00;
	}

	&.badge-error {
		background: #FF4B2B;
	}
}

.s-video {
	padding: 80px 0 120px;

	.video-wrapper {
		width: 100%;
		height: 650px;
		margin-top: 60px;
		border-radius: 20px;
		overflow: hidden;

		iframe {
			width: 100% !important;
			height: 100% !important;
			border: none;
		}
	}
}

.s-prices {
	padding: 120px 0;

	.btn {
		padding: 12px 40px;
		font-size: 18px;
	}
}

.s-advantages {
	padding: 80px 0;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(#0A0A0A, 0.6);
		filter: blur(80px);
	}

	.section-headline {
		margin-bottom: 20px;
		position: relative;
	}

	.section-subhead {
		line-height: 1.2;
		position: relative;
	}
}

.advantages-wrapper {
	padding: 40px 0;
}

.advantages-item {

	&__icon {
		height: 80px;
		width: 80px;
		display: flex;
		align-items: center;
	}

	&__title {
		color: #fff;
		margin-top: 20px;
		display: block;
	}

	&__description {
		margin-top: 15px;
	}
}

.s-news {
	padding: 80px 0;

	.section-headline {
		text-align: center;
	}
}

.news-wrapper {
	margin-top: 60px;
}

.news-items {
	display: block;
	border-radius: 20px;
	background: rgba(46, 46, 46, 0.4);
	border: 2px solid #4F4F4F;
	box-shadow: 5px 25px 25px rgba(114, 10, 219, 0.1);
	overflow: hidden;
	color: #BABABA;

	&:hover {
		text-decoration: none;
		color: inherit;

		.news-items__img {
			img {
				width: 110%;
				height: 110%;
			}
		}
	}

	&__img {
		height: 207px;
		width: 100%;
		position: relative;
		background: #f1f1f1;
		display: block;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			position: absolute;
			will-change: width;
			transition: .4s ease-out;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			object-fit: cover;
		}
	}

	&__content {
		padding: 20px 30px;
	}

	&__title {
		font-size: 22px;
		color: #fff;
		font-weight: bold;
	}

	&__date {
		font-weight: bold;
		color: #fff;
	}

}

.s-transactions {
	.section-headline {
		text-align: center;
		margin-bottom: 40px;
		display: block;
	}



	.home-table {
		width: 100%;
		border-radius: 20px;
		position: relative;
		overflow: hidden;

		th {
			color: #fff;
			padding: 15px 20px;
			background: #0577F2;

		}

		tr {
			border-bottom: 1px solid #4F4F4F;

			&:last-child {
				border-bottom: 0;
			}
		}

		td {
			background: rgba(46, 46, 46, 0.4);
			padding: 15px 20px;
			color: #fff;

			.amount {

				.amount-img {
					width: 40px;
					margin-right: 20px;
					height: 40px;

					img {
						width: 100%;
						height: 100%;
					}
				}
			}
		}

	}

}

.s-faq {
	.card {
		margin-top: 60px;
		background: rgba(46, 46, 46, 0.4);
	}

	.card-items {
		padding: 20px 40px;
		border-bottom: 1px solid #4F4F4F;

		h4 {
			margin-bottom: 0;
		}

		&:last-child {
			border-bottom: none;
		}
	}

	.btn-wrapper {
		margin-top: 30px;
	}
}


.s-stats {

	.stats-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 50px;

		.stats-item {
			flex: 0 0 50%;
			max-width: 50%;
			width: 100%;
			margin: 0 auto 50px auto;

			strong {
				font-size: 65px;
				line-height: 1;
				display: block;
				background: linear-gradient(111.42deg, #720ADB 9.98%, #FF4B2B 102.99%);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				font-weight: bold;
			}

			p {
				font-weight: 500;
				color: #fff;
				font-size: 30px;
				text-transform: uppercase;
			}
		}
	}
}


.partners {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.stats-partners {
	margin-top: 50px;
	text-align: right;

	&__items {
		max-width: 250px;
		width: 100%;
		margin-bottom: 50px;

		img {
			width: 100%;
			height: auto;
		}
	}

}

.s-faq .card {
	padding: 30px;

	h4 {
		text-transform: uppercase;
		font-weight: 900;
		margin-bottom: 20px;
	}

	.items-wrapper {
		margin-top: 30px;
	}

	.items {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
	}

	.items-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-radius: 20px;
		padding: 0;
		height: 60px;
		margin: 0;
		overflow: hidden;
		width: 100%;
		max-width: 100%;

		&.gradient {
			background: linear-gradient(169.35deg, #0577F2 -63.44%, #6609C4 99.5%);
		}

		&.yellow {
			background: #F0B90B;
		}

		li {
			padding: 0 20px;
			display: flex;
			align-items: center;
			cursor: pointer;
			font-size: 20px;
			height: 100%;
			font-weight: 900;
			border-radius: 20px;

			&.active {
				background: #fff;
				color: #F0B90B
			}

			img {
				width: 40px;
				height: 40px;
				border-radius: 10em;
				position: relative;

				img {
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}

	h5 {
		font-size: 18px;
		width: 50%;
		margin-right: 25px;
		margin-bottom: 0;
		text-transform: uppercase;
	}

}

.input-items {
	max-width: 100%;
	width: 100%;

	.input {
		width: 100%;
		flex: 1 0 0;
		max-width: 100%;
		margin-left: 20px;
	}

	&__icon {
		max-width: 50px;
		width: 100%;
		height: 50px;
		flex: 0 0 50px;

		img {
			width: 100%;
			height: auto;
		}
	}
}

.results-wrapper {
	position: relative;
	overflow: hidden;
	.terms {
		margin-top: 20px;
		font-size: 14px;

		a {
			color: #fff;
			text-decoration: underline;
		}
	}

	&::before {
		content: '';
		position: absolute;
		right: -40px;
		bottom: -40px;
		width: 150px;
		height: 150px;
		border-radius: 10em;
		border: 25px solid #0577F2;
		background: transparent;
	}

}

.results-items {
	display: flex;
	align-items: center;
	margin-bottom: 20px;

	h5 {
		font-size: 22px;
		font-weight: 500;
		margin-right: 50px;
		flex: 0 0 10%;
	}

	.btn-wrapper {
		margin-top: 20px;
	}

	.results-label {
		padding: 5px 10px;
		border-radius: 10px;
		background: #F0B90B;
		margin-right: 10px;

		img {
			width: 20px;
			height: 20px;
		}
	}
}
